/* base style */
*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Poppins', sans-serif;
}
img{
    max-width: 100%;
}
.container{
    width:1080px;
}

/* header section */
header{
    background-color: #2d25a0;
    color:#fff;
    display:flex;
    justify-content: center;
   
}

.header-main{
    display: flex;
    padding:100px 0;
}
.header-content{
    flex-basis:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-content h1{
    font-size:64px;
    line-height: 80px;
}
.link-button{
    text-decoration: none;
    color: #fff;
    background-color: #e02c6d;
    border:1px solid transparent;
    padding: 10px 16px;
    margin-top: 18px;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    border-radius:25px;
    transition:all .4s ease;
}
.link-button:hover{
    color: #e02c6d;
    background-color:transparent;
    border:1px solid #e02c6d;
}
.header-image{
    flex-basis:50%;
}

/* article section style */

article{
    display: flex;
    justify-content: center;
    margin: 55px 0;
}
.players{
    padding:15px;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-column-gap:30px;
    grid-row-gap:27px;
}
.player{
    padding: 14px;
    background-color: #fff;
    box-shadow: 1px 1px 10px #bfbebe;
    transition:all .4s;
}
.player:hover{
    box-shadow: 1px 1px 10px #777575;
}
.player h2{
    margin:5px 0;
}
.player p{
    color:#868585;
}
/* footer section style */
footer{
    display: flex;
    padding:20px 0;
    justify-content:center;
}
.footer-text{
    text-align: center;
    width:480px;
}
.footer-text img{

}
.social{
    display: flex;
    justify-content: center;
}
.social ul{
    display:flex;
}
.social ul li{
    list-style:none;
}
.social ul li a{
    color: rgb(104, 103, 103);
    padding: 8px;
    transition: all .4s;
    font-size: 20px;
}
.social ul li a:hover{
    color:#e02c6d;
}
.footer-text p{
    font-weight:600;
    margin-top:15px;
}