/* base style */
*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Poppins', sans-serif;
}
img{
    max-width: 100%;
}
.container{
    width:1080px;
}

/* header section */
header{
    background-color: #2d25a0;
    color:#fff;
    display:flex;
    justify-content: center;
   
}

.header-main{
    display: flex;
    padding:100px 0;
}
.header-content{
    flex-basis:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-content h1{
    font-size:64px;
    line-height: 80px;
}
.link-button{
    text-decoration: none;
    color: #fff;
    background-color: #e02c6d;
    border:1px solid transparent;
    padding: 10px 16px;
    margin-top: 18px;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    border-radius:25px;
    transition:all .4s ease;
}
.link-button:hover{
    color: #e02c6d;
    background-color:transparent;
    border:1px solid #e02c6d;
}
.header-image{
    flex-basis:50%;
}

/* article section style */

article{
    display: flex;
    justify-content: center;
    margin: 55px 0;
}
.players{
    padding:15px;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-column-gap:30px;
    grid-row-gap:27px;
}
.player{
    padding: 14px;
    background-color: #fff;
    box-shadow: 1px 1px 10px #bfbebe;
    transition:all .4s;
}
.player:hover{
    box-shadow: 1px 1px 10px #777575;
}
.player h2{
    margin:5px 0;
}
.player p{
    color:#868585;
}
/* match hightlight section style */
.match-highlights{
    display: flex;
    justify-content: center;
    margin:100px 0;
}
.match-highlights-main{
    display: flex;
    justify-content: center;
}
.match-highlights-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.match-highlights-content h2{
    font-size:40px;

}
.match-highlights-content p{
    color:#868585;
    padding:10px 0;
}
/* ============
    news section 
================*/
.news-main{
    display: flex;
    justify-content: center;
    margin-bottom:60px;
}
.news-head{
    text-align: center;
    margin-bottom:40px;
}
.news-head h1{
    font-size: 50px;
}
.news-head p{
    margin:5px 0;
}
.news-head hr{
    border:2px solid gray;
}
.newses{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap:30px;
    grid-row-gap:30px;
}
.news{
    height: 208px;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
}
.news-img img{
    transition: all .9s;
}
.news:hover .news-img img{
    transform:scale(1.2);
}
.news-img span{
    position: absolute;
    top: 16px;
    left: 16px;
    background-color: rgba(240, 148, 44, 0.466);
    padding: 3px 12px;
    color: #fff;
}
.news-content{
    position: absolute;
    top: 208px;
    left: 0px;
    color: #fff;
    padding: 24px;
    background: #0000007a;
    transition:all .7s;
}
.news:hover .news-content{
    top: 60px;
}
.news-content h3{
    background: #d4d2d215;
    margin-bottom: 16px;
}
.news-content p{
    font-size: 16px;
    color: #d0cdcd;
}


/*===================== 
footer section style
 ======================*/
footer{
    display: flex;
    padding:20px 0;
    justify-content:center;
}
.footer-text{
    text-align: center;
    width:480px;
}
.social{
    display: flex;
    justify-content: center;
}
.social ul{
    display:flex;
}
.social ul li{
    list-style:none;
}
.social ul li a{
    color: rgb(104, 103, 103);
    padding: 8px;
    transition: all .4s;
    font-size: 20px;
}
.social ul li a:hover{
    color:#e02c6d;
}
.footer-text p{
    font-weight:600;
    margin-top:15px;
}